extends _layout
block title
  title Erase Bouncing Ball
block links
  link(rel="stylesheet", href=require("../scss/style.scss"))
block scripts
  script(type="module", src=require("../ts/index.ts"))
block body
  p Number of the balls left:&nbsp
    span#js-number-of-balls-left
  canvas#js-billiards-table
