:root {
  --white: #fefefe;
  --black: #0b0909;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--black);
  color: var(--white);
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow-y: hidden;
}

p {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
}
